aiobotocore==0.9.3
aiodns==1.2.0
aiofiles==0.3.2
aiohttp==3.6.2
aiohttp-proxy==0.1.1
aiohttp-socks==0.2.2
aiorpcX==0.18.3
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
async-timeout==3.0.1
attrs==18.2.0
backoff==1.8.0
beautifulsoup4==4.7.1
botocore==1.10.58
brotlipy==0.7.0
bs4==0.0.1
cached-property==1.5.1
cchardet==2.1.5
certifi==2018.11.29
cffi==1.13.2
chardet==3.0.4
colorama==0.4.1
configparser==4.0.2
distro-info==0.21
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
ecdsa==0.13.3
EditorConfig==0.12.1
entrypoints==0.3
flake8==3.5.0
httplib2==0.11.3
idna==2.7
iotop==0.6
iso-639==0.4.5
iso3166==0.9
isodate==0.6.0
isort==4.3.21
jmespath==0.9.4
jsbeautifier==1.6.4
jsonrpclib-pelix==0.4.0
jsonschema==2.6.0
keyring==17.1.1
keyrings.alt==3.1.1
lazy-object-proxy==1.4.2
livestreamer==1.12.2
lxml==4.4.1
maxminddb==1.4.1
mccabe==0.6.1
multidict==4.5.2
netaddr==0.7.19
peewee==3.6.4
Pillow==5.2.0
pocketsphinx==0.1.15
progressbar==2.5
protobuf==3.10.0
psutil==5.4.6
pyaes==1.6.1
pycares==2.4.0
pycodestyle==2.3.1
pycountry==17.5.14
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.7.3
pycryptodomex==3.9.0
pycurl==7.43.0.2
pydub==0.22.1
pyee==6.0.0
pyflakes==1.6.0
pygeoip==0.3.2
PyGObject==3.30.4
pylint==2.3.1
pyppeteer==0.0.25
PySimpleSOAP==1.16.2
PySocks==1.6.8
pyTelegramBotAPI==3.6.6
python-apt==1.8.4
python-dateutil==2.8.0
pyxdg==0.25
PyYAML==5.1.2
QDarkStyle==2.6.8
qrcode==6.1
requests==2.20.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.12.0
soupsieve==1.7.3
streamlink==1.0.0
sty==1.0.0b12
termcolor==1.1.0
texttable==1.6.0
tqdm==4.37.0
typed-ast==1.4.0
typing==3.6.6
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
user-agent==0.1.9
websocket-client==0.55.0
websockets==6.0
wrapt==1.11.2
yarl==1.3.0
